.patch
.config

# files produced by './configure.gnu' on a Linux machine
/Makefile
/Policy.sh
/cflags
/config.h
/config.sh
/config.sh.old
/makeaperl
/makedepend
/makedir
/makefile
/makefile.old
/myconfig
/opmini.c
/perlmain.c
/pod/Makefile
/writemain
/x2p/Makefile
/x2p/cflags
/x2p/makefile
/x2p/makefile.old

# general build products
*.o
*.a

# general build products (Win32)
*.def
*.dll
*.exe
*.exp
*.ico
*.ilk
*.lib
*.obj
*.pdb
*.res
*.RES

# ?
ext.libs

# these are scattered everywhere, ignore them
.exists

/miniperl
/perl

/extra.pods
/generate_uudmap
/uni.data
/uudmap.h

x2p/a2p
x2p/find2perl
x2p/psed
x2p/s2p

# files generated during the build

ext/B/B.bs
ext/B/B.c
ext/B/Makefile
ext/B/Makefile.old
ext/B/pm_to_blib
ext/DB_File/DB_File.bs
ext/DB_File/DB_File.c
ext/DB_File/DB_File.pm.bak
ext/DB_File/Makefile
ext/DB_File/Makefile.old
ext/DB_File/blib
ext/DB_File/constants.h
ext/DB_File/constants.xs
ext/DB_File/pm_to_blib
ext/Data/Dumper/Dumper.bs
ext/Data/Dumper/Dumper.c
ext/Data/Dumper/Makefile
ext/Data/Dumper/Makefile.old
ext/Data/Dumper/pm_to_blib
ext/DynaLoader/DynaLoader.c
ext/DynaLoader/DynaLoader.pm
ext/DynaLoader/DynaLoader.xs
ext/DynaLoader/Makefile
ext/DynaLoader/Makefile.old
ext/DynaLoader/pm_to_blib
ext/Errno/Errno.pm
ext/Errno/Makefile
ext/Errno/Makefile.old
ext/Errno/pm_to_blib
ext/Fcntl/Fcntl.bs
ext/Fcntl/Fcntl.c
ext/Fcntl/Makefile
ext/Fcntl/Makefile.old
ext/Fcntl/pm_to_blib
ext/IO/IO.bs
ext/IO/IO.c
ext/IO/Makefile
ext/IO/Makefile.old
ext/IO/pm_to_blib
ext/IPC/SysV/Makefile
ext/IPC/SysV/Makefile.old
ext/IPC/SysV/SysV.bs
ext/IPC/SysV/SysV.c
ext/IPC/SysV/pm_to_blib
ext/Opcode/Makefile
ext/Opcode/Makefile.old
ext/Opcode/Opcode.bs
ext/Opcode/Opcode.c
ext/Opcode/pm_to_blib
ext/POSIX/Makefile
ext/POSIX/Makefile.old
ext/POSIX/POSIX.bs
ext/POSIX/POSIX.c
ext/POSIX/pm_to_blib
ext/SDBM_File/Makefile
ext/SDBM_File/Makefile.old
ext/SDBM_File/SDBM_File.bs
ext/SDBM_File/SDBM_File.c
ext/SDBM_File/pm_to_blib
ext/SDBM_File/sdbm/Makefile
ext/SDBM_File/sdbm/Makefile.old
ext/Socket/Makefile
ext/Socket/Makefile.old
ext/Socket/Socket.bs
ext/Socket/Socket.c
ext/Socket/pm_to_blib
ext/attrs/Makefile
ext/attrs/Makefile.old
ext/attrs/attrs.bs
ext/attrs/attrs.c
ext/attrs/pm_to_blib
ext/re/Makefile
ext/re/Makefile.old
ext/re/pm_to_blib
ext/re/re.bs
ext/re/re.c
ext/re/re_comp.c
ext/re/re_exec.c
lib/B.pm
lib/B
lib/Config.pm
lib/DB_File.pm
lib/Data
lib/DynaLoader.pm
lib/Errno.pm
lib/ExtUtils/Miniperl.pm
lib/Fcntl.pm
lib/IO.pm
lib/IO
lib/IPC/Msg.pm
lib/IPC/Semaphore.pm
lib/IPC/SysV.pm
lib/O.pm
lib/Opcode.pm
lib/POSIX.pm
lib/POSIX.pod
lib/SDBM_File.pm
lib/Safe.pm
lib/Socket.pm
lib/attrs.pm
lib/auto
lib/ops.pm
lib/re.pm
pod/pod2html
pod/pod2latex
pod/pod2man
pod/pod2text
t/perl
utils/c2ph
utils/h2ph
utils/h2xs
utils/perlbug
utils/perlcc
utils/perldoc
utils/pl2pm
utils/pstruct
utils/splain

