.git_patch export-subst
Porting/Glossary linguist-generated
charclass_invlists.inc linguist-generated
ebcdic_tables.h linguist-generated
embed.h linguist-generated
embedvar.h linguist-generated
feature.h linguist-generated
keywords.c linguist-generated
keywords.h linguist-generated
l1_char_class_tab.h linguist-generated
lib/B/Op_private.pm linguist-generated
lib/feature.pm linguist-generated
lib/overload/numbers.pm linguist-generated
lib/unicore/uni_keywords.pl linguist-generated
lib/warnings.pm linguist-generated
locale_table.h linguist-generated
long_names.c linguist-generated
mg_names.inc linguist-generated
mg_raw.h linguist-generated
mg_vtable.h linguist-generated
miniperlmain.c linguist-generated
opcode.h linguist-generated
opnames.h linguist-generated
overload.h linguist-generated
overload.inc linguist-generated
packsizetables.inc linguist-generated
perly.act linguist-generated
perly.h linguist-generated
perly.tab linguist-generated
pp_proto.h linguist-generated
proto.h linguist-generated
reentr.c linguist-generated
reentr.h linguist-generated
regcharclass.h linguist-generated
regexp_constants.h linguist-generated
regnodes.h linguist-generated
scope_types.h linguist-generated
uni_keywords.h linguist-generated
unicode_constants.h linguist-generated
warnings.h linguist-generated
*.pl linguist-language=Perl
*.pm linguist-language=Perl
*.t linguist-language=Perl
*.h linguist-language=C
*.fnc linguist-language=Text
*.inc linguist-language=C
cpan/Math-BigInt/t/*.inc linguist-language=Perl
