.git_patch export-subst
lib/B/Op_private.pm linguist-generated
opcode.h linguist-generated
opnames.h linguist-generated
perly.act linguist-generated
perly.h linguist-generated
perly.tab linguist-generated
pp_proto.h linguist-generated
