# ignore generated .c files, and other module build traces
*.c
*.bs
blib
pm_to_blib
Makefile
ppport.h
!/Devel-PPPort/module2.c
!/Devel-PPPort/module3.c
!/File-Glob/bsd_glob.c
!/XS-APItest/core.c
!/XS-APItest/exception.c
!/XS-APItest/notcore.c
!/XS-Typemap/stdio.c
