Hopefully the next release of libnet will be release 2.00. For this
release I want to completely re-write the configuration system.

My current thoughts are that a hash of values is not sufficient and that
Net::Config should be code. This is what I have planned, if you see any
problems or have any ideas please let me know by sending an Email
to gbarr@pobox.com

Net::Config will become an object based interface.  Methods will be called
as static methods on the package. Net::Config will inherit from
Net::LocalCfg and Net::Config::default. Net::LocalCfg is a package
that local sys-admins can write to override the defaulr behaviour of
Net::Config.

Most of the variables that are currently stored in Net::Config will
be turned into method calls, eg $NetConfig{'nntp_hosts'} will
become Net::Config->nntp_hosts

This approach will allow for a better implementation of the firewall code,
which currently makes a lot of assumptions. To aid this Net::Config::default
will provide a method 'reachable' which will take a single argument as
a hostname and should return true it the host is reachable directly.

This will also allow people who have dialup accounts, and appear in different
domains at different times, to do what they need.

Graham
gbarr@pobox.com
