name: smoke-information

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  authors:

    runs-on: ubuntu-latest

    env:
        PERL_SKIP_TTY_TEST: 1
        CONTINUOUS_INTEGRATION: 1

    steps:
      - uses: actions/checkout@master
        with:
            fetch-depth: 10
      - name: Involved authors
        run: |
            if [ -n "${GITHUB_BASE_REF}" ]; then
                echo "Pull request authors"
                git fetch origin >/dev/null 2>&1
                echo "# git merge-base origin/${GITHUB_BASE_REF} HEAD"
                branch_off=$(git merge-base origin/${GITHUB_BASE_REF} HEAD)
                git log --pretty=format:"Author: %an <%ae>" $branch_off..${GITHUB_SHA::8}^2 | sort | uniq
            fi
